body, html {
	font-family: 'Lato', sans-serif;
}

.center {
	width: 100%;
	margin:0 auto !important;
}

.top-bar {
	height: 100% !important;
}

.navbar {
	height: 100px;
}

.title-area {
	height: 100%;
	padding-top: 22px;
}

.name h1 {
	text-align: center;
	font-size: 50px !important;
	color: #F2F2F2 !important;
}

@media only screen and (max-width: 40em) {
	.name li {
		text-align: center !important;
	}

	.title-area h1 a {
		font-size: 40px;
	}
}

.about {
	height: 500px;
	text-align: center;
	background-color: #F2F2F2;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.about h1 {
	margin-top: 15px;
}

.about p {
	content: rgb(51, 51, 51);
	font-size: 25px;
}